/* '*' is a universal selector */
*{
    font-style: italic;
}
/* this is known as type selector */
div{
    color: blue;
}
p{
    color: red;
}
/* this is class selector */
.big{
    font-size: 25pt;
}
.bold{
    font-weight: bold;
}
/* this is ID selector */
#one{
    background-color: darkorange;
}
#two{
    padding-left: 40px;
}
/* this is attribute selector */
/* this is used to select the elements with the special type of properties such as disabled  */
input[disabled]{
    width: 300px;
    height: 100px;
}
/* one more example */
input[type="text"]
 {
    height:"30px";
 }