
</div>
<button class="btn-lg btn-danger" style="border-radius: 100%; position:fixed; left: 90%; bottom: 20px; z-index: 1; width: 100px; height: 100px; font-size: 70px; text-align: center;">
  <a href="/compose" style="color: white;">+</a>
</button>
<div class="footer-padding" class="footer navbar-fixed-bottom" >
  <div class="footer">
    <p>Made with ❤️ by Goyal Traders</p>
  </div>
</div>
</body>
</html>
