<%- include("partials/header") -%>
<h1 class="text-center">Welcome to the NoteVault</h1>
<div class="text-center">
    <a href="/user/login" class="btn btn-primary">Login</a>
    <a href="/user/register" class="btn btn-success">Register</a>
</div>
<%- include("partials/footer") -%>