<%- include("partials/header") -%>
<h1>Welcome to the login page</h1>
<form method="post" action="/user/login">
    <input type="email" placeholder="Email" required name="email"><br>
    <input type="password" placeholder="Password" required name="password"><br>
    <button type="submit">Submit</button>
</form>
<%- include("partials/footer") -%>