<%- include("partials/header") -%>
<h1>Registration Successful!</h1>
    <p>Your registration was successful. You can now proceed to login.</p>
    <a href="/user/login" class="btn btn-primary">Login</a> 
</body>
<%- include("partials/footer") -%>