<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <% if(kindOfDay === "Sunday" || kindOfDay === "Sunday"){ %>
        <h1 style="color: purple;"><%=kindOfDay%> ToDo List</h1>  
    <% } else{ %>
        <h1 style="color: blue;"><%=kindOfDay%> ToDo List</h1>  
    <% } %>
    <!-- Covered the JS logic i.e if and else statement with Scriplet tag to tell the EJS file that it's a JS part -->
    
    <!-- kindOfDay will act as a key  -->
</body>
</html>