<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>Document</title>
</head>
<body>
    <form class="bg-gray-100 ml-[40rem] w-[20rem] mt-[15rem]" action="/register" method="post">
         <!-- name should exactly match with the database naming convention -->
        <div><input type="text" name="name" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
        <div><input type="text" name="email" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
        <div><input type="text" name="phone" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
        <div><input type="text" name="password" class="bg-black text-white font-extrabold mt-3" autocomplete="off" required></div>
        <button class="bg-black text-white font-extrabold mt-3" type="submit">button</button>
    </form>
</body>
</html>