<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/meta") %>
    <title>Document</title>
</head>
<body>
    <form action="">
        <button class="bg-yellow-900">button</button>
    </form>
</body>
</html>